@charset "UTF-8";

body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: #131368;
    color: #ffffff;
    text-align: center;
}

section {
    margin: 30px;
    background-color: #dce9fc;
    color: #000000;
    border-radius: 20px;
    padding: 10px;
    margin: auto;
    width: 600px;
    height: 400px;
    box-shadow: 2px 2px 10px #0000005f;
}

section div {
    padding: 15px;
    text-align: center;
}

section div#title {
    color: #131368;
    font-size: 1.3em;
}

section div img {
    width: 300px;
    height: 300px;
    border-radius: 50%;
    border: 2px solid #131368;
}

footer {
    font-style: italic;
    font-size: 0.8em;
}

footer a {
    text-decoration: none;
    color: #ef3030;
    font-weight: bold;
}

footer a:hover {
    color: #f58585;
}
